.container__principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.container__principal-menu {
    border-top: 1px solid var(--cinza-texto);
    padding-top: 1em;
    width: 100%;
}

.container__lista-menu {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.container__lista-link {
    font-family: Recursive;
    font-size: 27px;
    font-style: italic;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    text-decoration: none;
    color: var(--cinza-texto);
    font-family: var(--fonte-titulo);
}

.container__lista-link:hover {
    color: var(--branco);
}

/* Cards conteudo */

.container__conteudo {
    display: grid;
    justify-content: center;
    gap: 15px;
    padding: 1vw 22vw;
    grid-template-columns: 400px 400px 400px;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    border-radius: 22px;
    background: var(--branco);
}

.card__image {
    text-align: center;
    width: 100%;
}

.card__titulo {
    font-size: 19px;
    font-weight: 600;
    text-align: left;
    margin: 1em 0;
}

.card__texto {
}