@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Recursive:slnt,CASL,CRSV,MONO@-15..0,0..1,0..1,0..1&display=swap');

@import url('./header.css');

:root {
    --branco: #FFFFFF;
    --cor-fundo: #232830;
    --vermelho-destaque: #FF7575;

    --fonte-titulo: 'Recursive', sans-serif;
    --fonte-texto: 'Poppins', sans-serif;
}

body {
    background: var(--cor-fundo);
    font-family: var(--fonte-texto);
}